h1 {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

p {
    font-family: "Courier New", Courier, monospace;
}

a {
    color: black;
}

#head {
    text-align: center;
    width: 600px;
    margin: auto auto auto auto;
    padding: auto;
}

button {
    border-radius: 10px;
    background-color: black;
    color: white;
}

#frame {
    line-height: 0px;
    width: 850px;
    height: 700px;
    margin: auto;
    border: 5px outset brown;
    border-radius: 15px;
    background-color: red;
}

#cursive {
    text-align: center;
    font-size: 30px;
    color: goldenrod;
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
    text-shadow: 2px 2px rgb(158, 116, 0);
}

#border {
    margin: 3% auto 1% auto;
    padding: auto;
    border: 15px solid #101010;
    border-radius: 15px;
    background-color: #404040;
    width: 500px;
    height: 500px;
}

#canvas {
    width:500px;
    height:500px;
    margin-top: auto;
    margin-left: auto;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.square {
    border: 1px dotted #303030;
}

#color {
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

#new {
    position: relative;
    left: 25px;
    bottom: 35px;
}

#clear {
    position: relative;
    float: right;
    right: 25px;
    bottom: 35px;
}


.etch {
    width: 115px;
    height: 115px;
    margin: auto auto auto auto;
    border-radius: 700%;
    font-size: 20px;
    color: white;
    background-color: black;
}

footer {
    margin-top: 50px;
    text-align: center;
}