h1 {
    font-family: arial;
    text-align: center;
}

button {
    border-radius: 10px;
    background-color: black;
    color: white;
}

#frame {
    width: 850px;
    height: 525px;
    margin-left: auto;
    border: 5px outset brown;
    border-radius: 15px;
    background-color: red;
}

#border {
    margin: 3% auto auto auto;
    padding: auto;
    border: 15px solid #101010;
    border-radius: 15px;
    background-color: #404040;
    width: 545px;
    height: 325px;
}

#canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
}

.square {
    display: inline-block;
    border: 1px solid #404040;
    border-collapse: collapse;
    height: 10px;
    width: 10px;
    padding: auto;
    margin-top: -1px;
    margin-left: auto;
    margin-bottom: -5px;
    margin-right: auto;
}

#color {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

#wheel {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

.etch {
    width: 90px;
    height: 90px;
    margin: auto auto auto auto;
    border-radius: 700%;
    font-size: 20px;
    color: white;
    background-color: black;
}

